In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm, skew
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',1000)

In [2]:
# 데이터 불러오기 
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

In [3]:
train.columns

Index(['index', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'voted', 'married', 'familysize', 'ASD', 'nerdiness'],
      dtype='object')

In [4]:
# 기본 전처리 
train = train.drop('index', axis=1)
test = test.drop('index', axis=1)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            14959 non-null  float64
 1   Q2            14931 non-null  float64
 2   Q3            14950 non-null  float64
 3   Q4            14929 non-null  float64
 4   Q5            14962 non-null  float64
 5   Q6            14952 non-null  float64
 6   Q7            14924 non-null  float64
 7   Q8            14952 non-null  float64
 8   Q9            14944 non-null  float64
 9   Q10           14928 non-null  float64
 10  Q11           14941 non-null  float64
 11  Q12           14933 non-null  float64
 12  Q13           14960 non-null  float64
 13  Q14           14964 non-null  float64
 14  Q15           14955 non-null  float64
 15  Q16           14967 non-null  float64
 16  Q17           14963 non-null  float64
 17  Q18           14937 non-null  float64
 18  Q19           14947 non-null  float64
 19  Q20           14955 non-null  float64
 20  Q21           14961 non-null  float64
 21  Q22           14962 non-null  float64
 22  Q23           14950 non-null  float64
 23  Q24           14939 non-null  float64
 24  Q25           14956 non-null  float64
 25  Q26           14932 non-null  float64
 26  country       14810 non-null  object
 27  introelapse   15000 non-null  int64
 28  testelapse    15000 non-null  int64
 29  surveyelapse  15000 non-null  int64
 30  TIPI1         14947 non-null  float64
 31  TIPI2         14934 non-null  float64
 32  TIPI3         14921 non-null  float64
 33  TIPI4         14936 non-null  float64
 34  TIPI5         14930 non-null  float64
 35  TIPI6         14938 non-null  float64
 36  TIPI7         14936 non-null  float64
 37  TIPI8         14935 non-null  float64
 38  TIPI9         14936 non-null  float64
 39  TIPI10        14920 non-null  float64
 40  VCL1          15000 non-null  int64
 41  VCL2          15000 non-null  int64
 42  VCL3          15000 non-null  int64
 43  VCL4          15000 non-null  int64
 44  VCL5          15000 non-null  int64
 45  VCL6          15000 non-null  int64
 46  VCL7          15000 non-null  int64
 47  VCL8          15000 non-null  int64
 48  VCL9          15000 non-null  int64
 49  VCL10         15000 non-null  int64
 50  VCL11         15000 non-null  int64
 51  VCL12         15000 non-null  int64
 52  VCL13         15000 non-null  int64
 53  VCL14         15000 non-null  int64
 54  VCL15         15000 non-null  int64
 55  VCL16         15000 non-null  int64
 56  education     14833 non-null  float64
 57  urban         15000 non-null  int64
 58  gender        14981 non-null  float64
 59  engnat        14953 non-null  float64
 60  age           15000 non-null  int64
 61  hand          14953 non-null  float64
 62  religion      14755 non-null  float64
 63  orientation   14601 non-null  float64
 64  voted         14915 non-null  float64
 65  married       14918 non-null  float64
 66  familysize    14681 non-null  float64
 67  ASD           14911 non-null  float64
 68  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(22), object(1)
memory usage: 7.9+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35452 entries, 0 to 35451
Data columns (total 68 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            35333 non-null  float64
 1   Q2            35305 non-null  float64
 2   Q3            35322 non-null  float64
 3   Q4            35327 non-null  float64
 4   Q5            35362 non-null  float64
 5   Q6            35320 non-null  float64
 6   Q7            35310 non-null  float64
 7   Q8            35344 non-null  float64
 8   Q9            35348 non-null  float64
 9   Q10           35232 non-null  float64
 10  Q11           35333 non-null  float64
 11  Q12           35303 non-null  float64
 12  Q13           35356 non-null  float64
 13  Q14           35350 non-null  float64
 14  Q15           35345 non-null  float64
 15  Q16           35367 non-null  float64
 16  Q17           35373 non-null  float64
 17  Q18           35305 non-null  float64
 18  Q19           35355 non-null  float64
 19  Q20           35333 non-null  float64
 20  Q21           35329 non-null  float64
 21  Q22           35370 non-null  float64
 22  Q23           35338 non-null  float64
 23  Q24           35327 non-null  float64
 24  Q25           35344 non-null  float64
 25  Q26           35344 non-null  float64
 26  country       35002 non-null  object
 27  introelapse   35452 non-null  int64
 28  testelapse    35452 non-null  int64
 29  surveyelapse  35452 non-null  int64
 30  TIPI1         35345 non-null  float64
 31  TIPI2         35330 non-null  float64
 32  TIPI3         35289 non-null  float64
 33  TIPI4         35314 non-null  float64
 34  TIPI5         35312 non-null  float64
 35  TIPI6         35324 non-null  float64
 36  TIPI7         35318 non-null  float64
 37  TIPI8         35325 non-null  float64
 38  TIPI9         35322 non-null  float64
 39  TIPI10        35276 non-null  float64
 40  VCL1          35452 non-null  int64
 41  VCL2          35452 non-null  int64
 42  VCL3          35452 non-null  int64
 43  VCL4          35452 non-null  int64
 44  VCL5          35452 non-null  int64
 45  VCL6          35452 non-null  int64
 46  VCL7          35452 non-null  int64
 47  VCL8          35452 non-null  int64
 48  VCL9          35452 non-null  int64
 49  VCL10         35452 non-null  int64
 50  VCL11         35452 non-null  int64
 51  VCL12         35452 non-null  int64
 52  VCL13         35452 non-null  int64
 53  VCL14         35452 non-null  int64
 54  VCL15         35452 non-null  int64
 55  VCL16         35452 non-null  int64
 56  education     35079 non-null  float64
 57  urban         35452 non-null  int64
 58  gender        35383 non-null  float64
 59  engnat        35333 non-null  float64
 60  age           35452 non-null  int64
 61  hand          35331 non-null  float64
 62  religion      34969 non-null  float64
 63  orientation   34629 non-null  float64
 64  voted         35271 non-null  float64
 65  married       35272 non-null  float64
 66  familysize    34749 non-null  float64
 67  ASD           35215 non-null  float64
dtypes: float64(46), int64(21), object(1)
memory usage: 18.4+ MB

# lapase 관련 변수는 skew가 심하므로 로그변환 처리

In [7]:
# 로그 변환
train.introelapse = np.log1p(train.introelapse)
train.testelapse = np.log1p(train.testelapse)
train.surveyelapse = np.log1p(train.surveyelapse)

test.introelapse = np.log1p(test.introelapse)
test.testelapse = np.log1p(test.testelapse)
test.surveyelapse = np.log1p(test.surveyelapse)

# question 답변 안함과 nerdiness는 크게 상관이 없어보임

## 결론: Tipi를 답변하지 않을 수록 nerd가 아닐 확률이 높다...?

# << missing 처리 기준 >>
# question은 최빈값으로 채우기
# TIPI는 0으로 새로운 응답변수 생성

In [8]:
Q1 = train['Q1'].mode()
Q2 = train['Q2'].mode()
Q3 = train['Q3'].mode()
Q4 = train['Q4'].mode()
Q5 = train['Q5'].mode()
Q6 = train['Q6'].mode()
Q7 = train['Q7'].mode()
Q8 = train['Q8'].mode()
Q9 = train['Q9'].mode()
Q10 = train['Q10'].mode()
Q11 = train['Q11'].mode()
Q12 = train['Q12'].mode()
Q13 = train['Q13'].mode()
Q14 = train['Q14'].mode()
Q15 = train['Q15'].mode()
Q16 = train['Q16'].mode()
Q17 = train['Q17'].mode()
Q18 = train['Q18'].mode()
Q19 = train['Q19'].mode()
Q20 = train['Q20'].mode()
Q21 = train['Q21'].mode()
Q22 = train['Q22'].mode()
Q23 = train['Q23'].mode()
Q24 = train['Q24'].mode()
Q25 = train['Q25'].mode()
Q26 = train['Q26'].mode()

In [9]:
train['Q1'] = train['Q1'].fillna(Q1[0])
train['Q2'] = train['Q2'].fillna(Q2[0])
train['Q3'] = train['Q3'].fillna(Q3[0])
train['Q4'] = train['Q4'].fillna(Q4[0])
train['Q5'] = train['Q5'].fillna(Q5[0])
train['Q6'] = train['Q6'].fillna(Q6[0])
train['Q7'] = train['Q7'].fillna(Q7[0])
train['Q8'] = train['Q8'].fillna(Q8[0])
train['Q9'] = train['Q9'].fillna(Q9[0])
train['Q10'] = train['Q10'].fillna(Q10[0])
train['Q11'] = train['Q11'].fillna(Q11[0])
train['Q12'] = train['Q12'].fillna(Q12[0])
train['Q13'] = train['Q13'].fillna(Q13[0])
train['Q14'] = train['Q14'].fillna(Q14[0])
train['Q15'] = train['Q15'].fillna(Q15[0])
train['Q16'] = train['Q16'].fillna(Q16[0])
train['Q17'] = train['Q17'].fillna(Q17[0])
train['Q18'] = train['Q18'].fillna(Q18[0])
train['Q19'] = train['Q19'].fillna(Q19[0])
train['Q20'] = train['Q20'].fillna(Q20[0])
train['Q21'] = train['Q21'].fillna(Q21[0])
train['Q22'] = train['Q22'].fillna(Q22[0])
train['Q23'] = train['Q23'].fillna(Q23[0])
train['Q24'] = train['Q24'].fillna(Q24[0])
train['Q25'] = train['Q25'].fillna(Q25[0])
train['Q26'] = train['Q26'].fillna(Q26[0])

test['Q1'] = test['Q1'].fillna(Q1[0])
test['Q2'] = test['Q2'].fillna(Q2[0])
test['Q3'] = test['Q3'].fillna(Q3[0])
test['Q4'] = test['Q4'].fillna(Q4[0])
test['Q5'] = test['Q5'].fillna(Q5[0])
test['Q6'] = test['Q6'].fillna(Q6[0])
test['Q7'] = test['Q7'].fillna(Q7[0])
test['Q8'] = test['Q8'].fillna(Q8[0])
test['Q9'] = test['Q9'].fillna(Q9[0])
test['Q10'] = test['Q10'].fillna(Q10[0])
test['Q11'] = test['Q11'].fillna(Q11[0])
test['Q12'] = test['Q12'].fillna(Q12[0])
test['Q13'] = test['Q13'].fillna(Q13[0])
test['Q14'] = test['Q14'].fillna(Q14[0])
test['Q15'] = test['Q15'].fillna(Q15[0])
test['Q16'] = test['Q16'].fillna(Q16[0])
test['Q17'] = test['Q17'].fillna(Q17[0])
test['Q18'] = test['Q18'].fillna(Q18[0])
test['Q19'] = test['Q19'].fillna(Q19[0])
test['Q20'] = test['Q20'].fillna(Q20[0])
test['Q21'] = test['Q21'].fillna(Q21[0])
test['Q22'] = test['Q22'].fillna(Q22[0])
test['Q23'] = test['Q23'].fillna(Q23[0])
test['Q24'] = test['Q24'].fillna(Q24[0])
test['Q25'] = test['Q25'].fillna(Q25[0])
test['Q26'] = test['Q26'].fillna(Q26[0])

In [10]:
# 0으로 채워줌 (새로운 변수 처럼 작동하도록)
tipi  = ['TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10']
train[tipi] = train[tipi].fillna(0)
test[tipi] = test[tipi].fillna(0)

# 나이, 가족수 이상치 처리

#### 나이 답변을 이상하게 한 사람은은 nerd일까?

크게 상관없는듯 -> 결측치, 이상치(2999?)는 평균으로 채우기로 결정

In [11]:
def age_outlier(x):
    if x > 100:
        return round(train.age.mean())
    else: 
        return x

In [12]:
train.age = train.age.apply(age_outlier)
test.age = test.age.apply(age_outlier)

In [13]:
def age_grouping(x):
    if x <= 10:
        return 10
    elif x <= 20:
        return 20
    elif x <= 30:
        return 30
    elif x <= 40:
        return 40
    elif x <= 50:
        return 50
    elif x <= 60:
        return 60
    elif x <= 70:
        return 70
    elif x <= 80:
        return 80
    elif x <= 90:
        return 90
    elif x <= 100:
        return 100
    else: 
        return x

In [14]:
train.age = train.age.apply(age_grouping)
test.age = test.age.apply(age_grouping)

In [15]:
# familysize

In [16]:
train.familysize = train.familysize.apply(age_outlier)
test.familysize = test.familysize.apply(age_outlier)

In [17]:
train['familysize'] = train['familysize'].fillna(round(train.familysize.mean()))
test['familysize'] = test['familysize'].fillna(round(train.familysize.mean()))

# 신상정보를 답변하지 않은 것과 너드는 크게 상관이 없어보임 -> 최빈값으로 대체 처리

# 신상정보(?) 변수 전처리

신상정보는 최빈값으로 넣음

In [18]:
edu = train['education'].mode()
gen = train['gender'].mode()
eng = train['engnat'].mode() 
han = train['hand'].mode()
ori = train['orientation'].mode()
vot = train['voted'].mode()
mar = train['married'].mode()
asd = train['ASD'].mode()
rel = train['religion'].mode()

In [19]:
train['education'] = train['education'].fillna(edu[0])
train['gender'] = train['gender'].fillna(gen[0])
train['engnat'] = train['engnat'].fillna(eng[0])
train['hand'] = train['hand'].fillna(han[0])
train['orientation'] = train['orientation'].fillna(ori[0])
train['voted'] = train['voted'].fillna(vot[0])
train['married'] = train['married'].fillna(mar[0])
train['ASD'] = train['ASD'].fillna(asd[0])
train['religion'] = train['religion'].fillna(rel[0])

test['education'] = test['education'].fillna(edu[0])
test['gender'] = test['gender'].fillna(gen[0])
test['engnat'] = test['engnat'].fillna(eng[0])
test['hand'] = test['hand'].fillna(han[0])
test['orientation'] = test['orientation'].fillna(ori[0])
test['voted'] = test['voted'].fillna(vot[0])
test['married'] = test['married'].fillna(mar[0])
test['ASD'] = test['ASD'].fillna(asd[0])
test['religion'] = test['religion'].fillna(rel[0])

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            15000 non-null  float64
 1   Q2            15000 non-null  float64
 2   Q3            15000 non-null  float64
 3   Q4            15000 non-null  float64
 4   Q5            15000 non-null  float64
 5   Q6            15000 non-null  float64
 6   Q7            15000 non-null  float64
 7   Q8            15000 non-null  float64
 8   Q9            15000 non-null  float64
 9   Q10           15000 non-null  float64
 10  Q11           15000 non-null  float64
 11  Q12           15000 non-null  float64
 12  Q13           15000 non-null  float64
 13  Q14           15000 non-null  float64
 14  Q15           15000 non-null  float64
 15  Q16           15000 non-null  float64
 16  Q17           15000 non-null  float64
 17  Q18           15000 non-null  float64
 18  Q19           15000 non-null  float64
 19  Q20           15000 non-null  float64
 20  Q21           15000 non-null  float64
 21  Q22           15000 non-null  float64
 22  Q23           15000 non-null  float64
 23  Q24           15000 non-null  float64
 24  Q25           15000 non-null  float64
 25  Q26           15000 non-null  float64
 26  country       14810 non-null  object
 27  introelapse   15000 non-null  float64
 28  testelapse    15000 non-null  float64
 29  surveyelapse  15000 non-null  float64
 30  TIPI1         15000 non-null  float64
 31  TIPI2         15000 non-null  float64
 32  TIPI3         15000 non-null  float64
 33  TIPI4         15000 non-null  float64
 34  TIPI5         15000 non-null  float64
 35  TIPI6         15000 non-null  float64
 36  TIPI7         15000 non-null  float64
 37  TIPI8         15000 non-null  float64
 38  TIPI9         15000 non-null  float64
 39  TIPI10        15000 non-null  float64
 40  VCL1          15000 non-null  int64
 41  VCL2          15000 non-null  int64
 42  VCL3          15000 non-null  int64
 43  VCL4          15000 non-null  int64
 44  VCL5          15000 non-null  int64
 45  VCL6          15000 non-null  int64
 46  VCL7          15000 non-null  int64
 47  VCL8          15000 non-null  int64
 48  VCL9          15000 non-null  int64
 49  VCL10         15000 non-null  int64
 50  VCL11         15000 non-null  int64
 51  VCL12         15000 non-null  int64
 52  VCL13         15000 non-null  int64
 53  VCL14         15000 non-null  int64
 54  VCL15         15000 non-null  int64
 55  VCL16         15000 non-null  int64
 56  education     15000 non-null  float64
 57  urban         15000 non-null  int64
 58  gender        15000 non-null  float64
 59  engnat        15000 non-null  float64
 60  age           15000 non-null  int64
 61  hand          15000 non-null  float64
 62  religion      15000 non-null  float64
 63  orientation   15000 non-null  float64
 64  voted         15000 non-null  float64
 65  married       15000 non-null  float64
 66  familysize    15000 non-null  float64
 67  ASD           15000 non-null  float64
 68  nerdiness     15000 non-null  int64
dtypes: float64(49), int64(19), object(1)
memory usage: 7.9+ MB

# nerdiness랑 시각화

# 나라별로 조금씩 편차가 있는 것을 확인

# country

In [21]:
train.country.value_counts()

USA    7419
GBR    1109
CAN     915
AUS     525
DEU     473
PHL     261
BRA     240
IND     233
POL     210
FRA     208
ITA     186
NLD     175
SWE     152
MEX     136
FIN     133
NZL     124
MYS     121
IDN     110
NOR     106
SGP     102
ESP      94
DNK      91
ROU      87
IRL      79
ARG      74
PRT      73
TUR      70
RUS      63
CZE      62
HUN      56
BEL      55
GRC      54
ZAF      52
CHL      49
AUT      48
CHE      47
ISR      44
SRB      38
HRV      35
JPN      32
HKG      31
THA      30
BGR      30
ARE      28
PAK      27
UKR      22
SVN      21
KOR      21
LTU      20
LVA      20
SVK      19
VEN      17
COL      16
PRI      15
KEN      15
PER      15
URY      14
CRI      14
SAU      12
EST      12
VNM      12
IRN      11
BIH      11
TWN      11
EGY      10
JOR      10
HND       9
KWT       9
ALB       8
NGA       8
CHN       8
ISL       8
QAT       8
JAM       7
TTO       7
DOM       6
MKD       5
BGD       5
BHS       4
BHR       4
GEO       4
GHA       4
GUM       4
ECU       4
CYP       4
AZE       3
FJI       3
PRY       3
OMN       3
SLV       3
BRN       3
DZA       3
SDN       3
TUN       3
LBN       3
NPL       3
LUX       3
MAR       3
MLT       2
FSM       2
NAM       2
ARM       2
ZMB       2
MOZ       2
FRO       2
BWA       2
PAN       2
SSD       2
CUW       2
MWI       1
GTM       1
AGO       1
LAO       1
GUY       1
AFG       1
RWA       1
SYR       1
BLR       1
BRB       1
MNG       1
MDG       1
MNP       1
KHM       1
MAC       1
VIR       1
KAZ       1
UGA       1
LBY       1
VGB       1
ALA       1
IRQ       1
GUF       1
PNG       1
MUS       1
MDV       1
GRL       1
ETH       1
Name: country, dtype: int64

In [22]:
# 100이하면 '기타'로처리
country_list = train.country.value_counts()[:40]
def func(country):
    if country in country_list:
        return country
    else:
        return '기타'

train['country'] = train['country'].apply(lambda x : func(x))
test['country'] = test['country'].apply(lambda x : func(x))

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            15000 non-null  float64
 1   Q2            15000 non-null  float64
 2   Q3            15000 non-null  float64
 3   Q4            15000 non-null  float64
 4   Q5            15000 non-null  float64
 5   Q6            15000 non-null  float64
 6   Q7            15000 non-null  float64
 7   Q8            15000 non-null  float64
 8   Q9            15000 non-null  float64
 9   Q10           15000 non-null  float64
 10  Q11           15000 non-null  float64
 11  Q12           15000 non-null  float64
 12  Q13           15000 non-null  float64
 13  Q14           15000 non-null  float64
 14  Q15           15000 non-null  float64
 15  Q16           15000 non-null  float64
 16  Q17           15000 non-null  float64
 17  Q18           15000 non-null  float64
 18  Q19           15000 non-null  float64
 19  Q20           15000 non-null  float64
 20  Q21           15000 non-null  float64
 21  Q22           15000 non-null  float64
 22  Q23           15000 non-null  float64
 23  Q24           15000 non-null  float64
 24  Q25           15000 non-null  float64
 25  Q26           15000 non-null  float64
 26  country       15000 non-null  object
 27  introelapse   15000 non-null  float64
 28  testelapse    15000 non-null  float64
 29  surveyelapse  15000 non-null  float64
 30  TIPI1         15000 non-null  float64
 31  TIPI2         15000 non-null  float64
 32  TIPI3         15000 non-null  float64
 33  TIPI4         15000 non-null  float64
 34  TIPI5         15000 non-null  float64
 35  TIPI6         15000 non-null  float64
 36  TIPI7         15000 non-null  float64
 37  TIPI8         15000 non-null  float64
 38  TIPI9         15000 non-null  float64
 39  TIPI10        15000 non-null  float64
 40  VCL1          15000 non-null  int64
 41  VCL2          15000 non-null  int64
 42  VCL3          15000 non-null  int64
 43  VCL4          15000 non-null  int64
 44  VCL5          15000 non-null  int64
 45  VCL6          15000 non-null  int64
 46  VCL7          15000 non-null  int64
 47  VCL8          15000 non-null  int64
 48  VCL9          15000 non-null  int64
 49  VCL10         15000 non-null  int64
 50  VCL11         15000 non-null  int64
 51  VCL12         15000 non-null  int64
 52  VCL13         15000 non-null  int64
 53  VCL14         15000 non-null  int64
 54  VCL15         15000 non-null  int64
 55  VCL16         15000 non-null  int64
 56  education     15000 non-null  float64
 57  urban         15000 non-null  int64
 58  gender        15000 non-null  float64
 59  engnat        15000 non-null  float64
 60  age           15000 non-null  int64
 61  hand          15000 non-null  float64
 62  religion      15000 non-null  float64
 63  orientation   15000 non-null  float64
 64  voted         15000 non-null  float64
 65  married       15000 non-null  float64
 66  familysize    15000 non-null  float64
 67  ASD           15000 non-null  float64
 68  nerdiness     15000 non-null  int64
dtypes: float64(49), int64(19), object(1)
memory usage: 7.9+ MB

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35452 entries, 0 to 35451
Data columns (total 68 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            35452 non-null  float64
 1   Q2            35452 non-null  float64
 2   Q3            35452 non-null  float64
 3   Q4            35452 non-null  float64
 4   Q5            35452 non-null  float64
 5   Q6            35452 non-null  float64
 6   Q7            35452 non-null  float64
 7   Q8            35452 non-null  float64
 8   Q9            35452 non-null  float64
 9   Q10           35452 non-null  float64
 10  Q11           35452 non-null  float64
 11  Q12           35452 non-null  float64
 12  Q13           35452 non-null  float64
 13  Q14           35452 non-null  float64
 14  Q15           35452 non-null  float64
 15  Q16           35452 non-null  float64
 16  Q17           35452 non-null  float64
 17  Q18           35452 non-null  float64
 18  Q19           35452 non-null  float64
 19  Q20           35452 non-null  float64
 20  Q21           35452 non-null  float64
 21  Q22           35452 non-null  float64
 22  Q23           35452 non-null  float64
 23  Q24           35452 non-null  float64
 24  Q25           35452 non-null  float64
 25  Q26           35452 non-null  float64
 26  country       35452 non-null  object
 27  introelapse   35452 non-null  float64
 28  testelapse    35452 non-null  float64
 29  surveyelapse  35452 non-null  float64
 30  TIPI1         35452 non-null  float64
 31  TIPI2         35452 non-null  float64
 32  TIPI3         35452 non-null  float64
 33  TIPI4         35452 non-null  float64
 34  TIPI5         35452 non-null  float64
 35  TIPI6         35452 non-null  float64
 36  TIPI7         35452 non-null  float64
 37  TIPI8         35452 non-null  float64
 38  TIPI9         35452 non-null  float64
 39  TIPI10        35452 non-null  float64
 40  VCL1          35452 non-null  int64
 41  VCL2          35452 non-null  int64
 42  VCL3          35452 non-null  int64
 43  VCL4          35452 non-null  int64
 44  VCL5          35452 non-null  int64
 45  VCL6          35452 non-null  int64
 46  VCL7          35452 non-null  int64
 47  VCL8          35452 non-null  int64
 48  VCL9          35452 non-null  int64
 49  VCL10         35452 non-null  int64
 50  VCL11         35452 non-null  int64
 51  VCL12         35452 non-null  int64
 52  VCL13         35452 non-null  int64
 53  VCL14         35452 non-null  int64
 54  VCL15         35452 non-null  int64
 55  VCL16         35452 non-null  int64
 56  education     35452 non-null  float64
 57  urban         35452 non-null  int64
 58  gender        35452 non-null  float64
 59  engnat        35452 non-null  float64
 60  age           35452 non-null  int64
 61  hand          35452 non-null  float64
 62  religion      35452 non-null  float64
 63  orientation   35452 non-null  float64
 64  voted         35452 non-null  float64
 65  married       35452 non-null  float64
 66  familysize    35452 non-null  float64
 67  ASD           35452 non-null  float64
dtypes: float64(49), int64(18), object(1)
memory usage: 18.4+ MB

In [25]:
train.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21',
       'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'voted', 'married', 'familysize', 'ASD', 'nerdiness'],
      dtype='object')

In [26]:
train

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,country,introelapse,testelapse,surveyelapse,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,education,urban,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,5.0,5.0,1.0,5.0,1.0,5.0,1.0,1.0,USA,1.386294,6.317165,1.945910,4.0,3.0,5.0,1.0,3.0,5.0,5.0,3.0,5.0,3.0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,2.0,1,3.0,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,3.0,1.0,4.0,5.0,3.0,1.0,2.0,4.0,5.0,1.0,3.0,1.0,1.0,5.0,3.0,2.0,5.0,USA,1.791759,4.454347,4.795791,4.0,2.0,3.0,5.0,3.0,2.0,5.0,1.0,2.0,2.0,1,1,1,1,1,0,1,0,0,1,0,0,1,1,1,1,4.0,2,2.0,1.0,50,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,4.0,2.0,5.0,5.0,5.0,1.0,3.0,5.0,3.0,5.0,2.0,2.0,1.0,2.0,4.0,2.0,5.0,NLD,2.302585,4.691348,4.615121,1.0,2.0,3.0,1.0,5.0,5.0,3.0,4.0,5.0,2.0,1,1,0,1,1,0,1,1,0,1,0,0,1,1,1,1,2.0,1,1.0,2.0,50,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,4.0,5.0,2.0,2.0,4.0,4.0,2.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,4.0,4.0,2.0,USA,1.098612,4.804021,4.941642,3.0,3.0,3.0,4.0,5.0,3.0,4.0,4.0,3.0,3.0,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1.0,3,1.0,1.0,20,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,4.0,4.0,4.0,3.0,5.0,5.0,2.0,4.0,1.0,4.0,2.0,4.0,2.0,3.0,4.0,4.0,4.0,ITA,1.386294,6.463029,5.379897,3.0,3.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,2.0,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,1,1.0,2,2.0,2.0,20,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,4.0,1.0,4.0,4.0,3.0,4.0,4.0,2.0,5.0,2.0,4.0,1.0,2.0,5.0,4.0,2.0,4.0,USA,2.564949,4.644391,5.087596,2.0,2.0,4.0,3.0,3.0,5.0,3.0,3.0,3.0,3.0,1,1,1,1,1,0,0,0,0,1,0,1,1,1,1,1,2.0,2,2.0,1.0,20,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0
14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,5.0,1.0,4.0,4.0,4.0,2.0,5.0,5.0,4.0,1.0,5.0,3.0,4.0,4.0,5.0,4.0,5.0,USA,3.465736,4.672829,5.192957,3.0,2.0,4.0,5.0,4.0,3.0,4.0,1.0,2.0,2.0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,4.0,1,2.0,2.0,50,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1
14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0,2.0,5.0,5.0,3.0,4.0,USA,2.890372,4.644391,5.129899,1.0,3.0,2.0,5.0,1.0,5.0,3.0,3.0,1.0,1.0,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,2.0,2,2.0,1.0,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,5.0,3.0,5.0,4.0,4.0,1.0,5.0,4.0,5.0,5.0,2.0,5.0,3.0,5.0,3.0,3.0,5.0,USA,2.708050,4.234107,4.700480,1.0,1.0,3.0,5.0,4.0,5.0,5.0,4.0,2.0,1.0,1,1,1,1,1,0,0,1,0,1,0,1,1,1,1,1,3.0,2,2.0,1.0,30,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0
14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,4.0,4.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,5.0,3.0,4.0,2.0,3.0,4.0,3.0,4.0,BRA,2.197225,5.209486,5.855072,4.0,3.0,3.0,3.0,4.0,2.0,4.0,4.0,3.0,2.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,2.0,3,1.0,2.0,30,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1

In [27]:
train.engnat.value_counts()

1.0    9826
2.0    5174
Name: engnat, dtype: int64

In [28]:
# engnat / voted / ASD 
train['engnat'] = train['engnat'] - 1
train['voted'] = train['voted'] - 1
train['ASD'] = train['ASD'] - 1

test['engnat'] = test['engnat'] - 1
test['voted'] = test['voted'] - 1
test['ASD'] = test['ASD'] - 1

In [29]:
train.engnat.value_counts()

0.0    9826
1.0    5174
Name: engnat, dtype: int64

In [30]:
train.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21',
       'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'voted', 'married', 'familysize', 'ASD', 'nerdiness'],
      dtype='object')

In [31]:
col = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21',
       'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'country', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'education',
       'urban', 'gender', 'age', 'hand', 'religion', 'orientation',
    'married']

In [32]:
train = pd.get_dummies(columns = col , data = train)
test = pd.get_dummies(columns = col, data = test)

In [33]:
train.columns

Index(['introelapse', 'testelapse', 'surveyelapse', 'VCL1', 'VCL2', 'VCL3',
       'VCL4', 'VCL5', 'VCL6', 'VCL7',
       ...
       'religion_11.0', 'religion_12.0', 'orientation_1.0', 'orientation_2.0',
       'orientation_3.0', 'orientation_4.0', 'orientation_5.0', 'married_1.0',
       'married_2.0', 'married_3.0'],
      dtype='object', length=298)

In [34]:
# 분류 작업에 필요한 함수 불러오기 
import jinja2
from pycaret.classification import*

# 실험환경 구축 (setup the environment)
- pycaret에서는 모델 학습 전 실험환경을 구축해야한다. Setup 함수를 통해 환경을 구축할 수 있다. 
setup 단계에서는 Pycaret이 자동으로 컬럼 형태를 인식한다. 그후 사용자에게 제대로 인식되었는지 
확인을 받게된다. 그때 enter를 눌러주면 된다. 
또한 주어진 데이터의 얼마를 사용하여 train/validation을 구축할지 묻게되는데, 
전체데이터를 사용하고 싶다면 enter를 눌러주면된다.

In [121]:
clf = setup(data = train, target='nerdiness',fold_shuffle=True,
            session_id = 20210302,
            normalize = True,
             transformation = True, transformation_method='yeo-johnson',
            ignore_low_variance = True,
            combine_rare_levels = True, rare_level_threshold = 0.1,
            remove_multicollinearity = True, multicollinearity_threshold = 0.80,
           )

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

In [35]:
# voted 컬럼이 예측대상이므로 target인자에 명시
clf = setup(data = train, target='nerdiness',fold_shuffle=True)

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

# 모델 학습 및 비교 
- 환경을 구축했으니 pycaret에서 제공하는 기본 모델에 대해 학습하고 비교해보겠다 
compared_models 함수를 통해 15개의 기본 모델을 학습하고 성능을 비교할 수 있다. 
auc가 기준으로 성능이 가장 좋은 3개의 모델을 추려내어 저장해보겠다. 
본 대회 평가 지표가 auc이기 때문에 auc 기준으로 모델을 선정합니다.

In [112]:
best_3 = compare_models(sort='AUC',n_select=3)

In [113]:
best_1 = compare_models(sort='AUC',n_select=1)

In [114]:
best_2 = compare_models(sort='AUC',n_select=2)

In [115]:
best_3 = compare_models(sort='AUC',n_select=3)

In [116]:
best_4 = compare_models(sort='AUC',n_select=4)

In [41]:
model_et = create_model('et', fold = 5)
model_et = tune_model(model_et, fold=5, optimize = 'AUC', choose_better = True)

In [43]:
model_rf = create_model('rf', fold = 5)
model_rf = tune_model(model_rf, fold=5, optimize = 'AUC', choose_better = True)

In [46]:
bag_et_10 = ensemble_model(model_et, n_estimators = 10, fold=5, optimize = 'AUC')

In [45]:
bag_et_50 = ensemble_model(model_et, n_estimators = 50, fold=5, optimize = 'AUC')

In [47]:
boo_et = ensemble_model(model_et, method = 'Boosting', fold=5, optimize='AUC')

In [50]:
bag_rf_10 = ensemble_model(model_rf, n_estimators = 10, fold=5, optimize = 'AUC')

In [49]:
bag_rf_50 = ensemble_model(model_rf, n_estimators = 50, fold=5, optimize = 'AUC')

In [48]:
boo_rf = ensemble_model(model_rf, method = 'Boosting', fold=5, optimize='AUC')

In [53]:
blend_2_soft = blend_models(estimator_list=[model_rf, model_et], method='soft', fold=5, optimize='AUC')

In [57]:
stack_2_best = stack_models(estimator_list= best_3,
                         meta_model=model_et,
                           fold = 5,
                           optimize = 'AUC',
                           choose_better= True)

IntProgress(value=0, description='Processing: ', max=6)

Initiated  . . . . . . . . . . . . . . . . . .           16:44:29
Status     . . . . . . . . . . . . . . . . . .   Finalizing Model
Estimator  . . . . . . . . . . . . . . . . . .  Voting Classifier

Empty DataFrame
Columns: [Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
OMP: Error #131: Thread identifier invalid.

TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker.

The exit codes of the workers are {SIGABRT(-6)}

In [58]:
best_2 = compare_models(sort='AUC',n_select=2)

In [73]:
best_3 = compare_models(sort='AUC',n_select=3)

In [107]:
blended = blend_models(estimator_list = best_3, fold=5, method='soft')

In [117]:
blended_1 = blend_models(estimator_list = best_1, fold=5, method='soft')
pred_holdout = predict_model(blended_1)

In [118]:
blended_2 = blend_models(estimator_list = best_2, fold=5, method='soft')
pred_holdout = predict_model(blended_2)

In [122]:
blended_3 = blend_models(estimator_list = best_3, fold=5, method='soft')
pred_holdout = predict_model(blended_3)

In [120]:
blended_4 = blend_models(estimator_list = best_4, fold=5, method='soft')
pred_holdout = predict_model(blended_4)

In [108]:
pred_holdout = predict_model(blended)

In [ ]:
0.8683 = 0.80

In [ ]:
0.8671 = 0.95

# 전체 데이터에 대한 재학습
현재까지 실험은 주어진 train 데이터를 다시 한번 train/validaton으로 나눠서 실험을 한것으로, 전체 train에 대해 학습되어 있지 않습니다. 
최적의 성능을 위해 전체 데이터에 학습을 시켜주도록 하겠다.

In [123]:
final_model = finalize_model(blended_3)

In [124]:
predictions = predict_model(final_model, data=test)

In [125]:
predictions

,introelapse,testelapse,surveyelapse,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,...,orientation_1.0,orientation_2.0,orientation_3.0,orientation_4.0,orientation_5.0,married_1.0,married_2.0,married_3.0,Label,Score
0,2.302585,4.744932,5.497168,1,1,1,1,1,1,1,...,0,0,0,1,0,1,0,0,0,0.7224
1,2.944439,4.682131,5.332719,1,1,1,1,1,0,0,...,0,0,0,0,1,1,0,0,1,0.7828
2,1.609438,4.477337,5.257495,1,1,0,1,1,0,0,...,0,0,0,0,1,1,0,0,1,0.8371
3,7.787382,5.049856,5.556828,1,1,1,1,1,1,1,...,0,1,0,0,0,1,0,0,1,0.6574
4,3.218876,5.099866,5.669881,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0.8100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,2.397895,5.303305,5.541264,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0.8596
35448,6.224558,4.919981,5.049856,1,0,0,1,1,0,0,...,0,0,0,0,1,1,0,0,1,0.8043
35449,3.332205,4.804021,5.257495,1,1,1,1,1,0,0,...,0,0,0,0,1,1,0,0,1,0.9145
35450,1.386294,4.077537,4.663439,1,1,0,1,1,1,0,...,1,0,0,0,0,1,0,0,0,0.8163
35451,5.068904,5.598422,5.187386,1,1,0,1,1,0,0,...,0,1,0,0,0,1,0,0,1,0.6833

In [126]:
submission['nerdiness'] = predictions['Label']
submission.to_csv('submission_220820_3.csv', index=False)

In [127]:
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          0
35451  35451          1

[35452 rows x 2 columns]

In [ ]:
#  Q끼리 pca 한번 해보기 -> 추려진 Q 변수로만 돌려보기