In [24]:
# 데이터 불러오기 
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

In [25]:
# 데이터 구조 확인
print(train.shape)
print(test.shape)
print(submission.shape)

(15000, 70)
(35452, 69)
(35452, 2)

In [26]:
# 분류 작업에 필요한 함수 불러오기 
import jinja2
from pycaret.classification import*

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            14959 non-null  float64
 2   Q2            14931 non-null  float64
 3   Q3            14950 non-null  float64
 4   Q4            14929 non-null  float64
 5   Q5            14962 non-null  float64
 6   Q6            14952 non-null  float64
 7   Q7            14924 non-null  float64
 8   Q8            14952 non-null  float64
 9   Q9            14944 non-null  float64
 10  Q10           14928 non-null  float64
 11  Q11           14941 non-null  float64
 12  Q12           14933 non-null  float64
 13  Q13           14960 non-null  float64
 14  Q14           14964 non-null  float64
 15  Q15           14955 non-null  float64
 16  Q16           14967 non-null  float64
 17  Q17           14963 non-null  float64
 18  Q18           14937 non-null  float64
 19  Q19           14947 non-null  float64
 20  Q20           14955 non-null  float64
 21  Q21           14961 non-null  float64
 22  Q22           14962 non-null  float64
 23  Q23           14950 non-null  float64
 24  Q24           14939 non-null  float64
 25  Q25           14956 non-null  float64
 26  Q26           14932 non-null  float64
 27  country       14810 non-null  object
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         14947 non-null  float64
 32  TIPI2         14934 non-null  float64
 33  TIPI3         14921 non-null  float64
 34  TIPI4         14936 non-null  float64
 35  TIPI5         14930 non-null  float64
 36  TIPI6         14938 non-null  float64
 37  TIPI7         14936 non-null  float64
 38  TIPI8         14935 non-null  float64
 39  TIPI9         14936 non-null  float64
 40  TIPI10        14920 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     14833 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        14981 non-null  float64
 60  engnat        14953 non-null  float64
 61  age           15000 non-null  int64
 62  hand          14953 non-null  float64
 63  religion      14755 non-null  float64
 64  orientation   14601 non-null  float64
 65  voted         14915 non-null  float64
 66  married       14918 non-null  float64
 67  familysize    14681 non-null  float64
 68  ASD           14911 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 8.0+ MB

In [28]:
train.head()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0

In [29]:
train.describe(include='all')

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
count,15000.000000,14959.000000,14931.000000,14950.000000,14929.000000,14962.000000,14952.000000,14924.000000,14952.000000,14944.000000,...,14953.000000,15000.000000,14953.000000,14755.000000,14601.000000,14915.000000,14918.000000,14681.000000,14911.000000,15000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,7499.500000,3.972859,4.065702,4.222809,3.795499,3.856503,3.676364,4.183262,3.879013,3.915418,...,1.346018,26.740867,1.185113,4.098340,1.847956,1.633121,1.179917,2.744091,1.938703,0.553533
std,4330.271354,1.095914,1.169681,1.023335,1.219940,1.195622,1.170986,1.059756,1.302081,1.117625,...,0.475715,317.058436,0.481993,3.425699,1.223191,0.481969,0.465985,24.109344,0.239882,0.497142
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,3749.750000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,...,1.000000,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,0.000000
50%,7499.500000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,...,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000
75%,11249.250000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.000000,27.000000,1.000000,6.000000,2.000000,2.000000,1.000000,3.000000,2.000000,1.000000
max,14999.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.000000,38822.000000,3.000000,12.000000,5.000000,2.000000,3.000000,2919.000000,2.000000,1.000000

In [30]:
# 필요없는 변수 drop
train = train.drop(['index'], axis=1)
test = test.drop(['index'], axis=1)

In [31]:
def age_grouping(x):
    if x <= 10:
        return 10
    elif x <= 20:
        return 20
    elif x <= 30:
        return 30
    elif x <= 40:
        return 40
    elif x <= 50:
        return 50
    elif x <= 60:
        return 60
    elif x <= 70:
        return 70
    elif x <= 80:
        return 80
    elif x <= 90:
        return 90
    elif x <= 100:
        return 100
    else: 
        return x

In [32]:
train.age = train.age.apply(age_grouping)
test.age = test.age.apply(age_grouping)

In [34]:
train.age.value_counts()

20       7756
30       4465
40       1367
50        785
60        432
70        158
80         27
100         2
123         2
90          2
545         1
722         1
38822       1
336         1
Name: age, dtype: int64

In [33]:
test.age.value_counts()

20       18390
30       10589
40        3191
50        1811
60        1010
70         366
80          65
90          10
100          4
1997         2
1999         2
155          2
374          2
809          2
116          2
545          1
38822        1
336          1
722          1
Name: age, dtype: int64

In [36]:
# 100 이상값 삭제
idx1 = train[train['age'] > 100].index
idx2 = test[test['age'] > 100].index

train = train.drop(idx1)
test = test.drop(idx2)

In [38]:
# country
# 100이하면 '기타'로처리
country_list = train.country.value_counts()[:20]
def func(country):
    if country in country_list:
        return country
    else:
        return '기타'

train['country'] = train['country'].apply(lambda x : func(x))
test['country'] = test['country'].apply(lambda x : func(x))

# 실험환경 구축 (setup the environment)
- pycaret에서는 모델 학습 전 실험환경을 구축해야한다. Setup 함수를 통해 환경을 구축할 수 있다. 
setup 단계에서는 Pycaret이 자동으로 컬럼 형태를 인식한다. 그후 사용자에게 제대로 인식되었는지 
확인을 받게된다. 그때 enter를 눌러주면 된다. 
또한 주어진 데이터의 얼마를 사용하여 train/validation을 구축할지 묻게되는데, 
전체데이터를 사용하고 싶다면 enter를 눌러주면된다.

In [39]:
# voted 컬럼이 예측대상이므로 target인자에 명시
clf = setup(data = train, target='nerdiness',fold_shuffle=True)

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

# 모델 학습 및 비교 
- 환경을 구축했으니 pycaret에서 제공하는 기본 모델에 대해 학습하고 비교해보겠다 
compared_models 함수를 통해 15개의 기본 모델을 학습하고 성능을 비교할 수 있다. 
auc가 기준으로 성능이 가장 좋은 3개의 모델을 추려내어 저장해보겠다. 
본 대회 평가 지표가 auc이기 때문에 auc 기준으로 모델을 선정합니다.

In [40]:
best_3 = compare_models(sort='AUC',n_select=3)

catBoost classifer, gradient boosting classifier, lgbm이 가장 좋은 3개의 모델임을 확인

# 모델앙상블
- 3개의 모델을 앙상블 시키도록 한다. 본 대회는 score최적화를 위해 확률값을 예측해야하므로 soft vote ensemble을 진행하겠다.

In [41]:
blended = blend_models(estimator_list = best_3, fold=5, method='soft')

# 모델예측
구축된 앙상블모델을 통해 예측을 해보겠습니다. 
setup 환경에 이미 hold-out set이 존재하므로 해당 데이터에 대해 예측을 하여 모델성능을 확인하겠습니다.

In [42]:
pred_holdout = predict_model(blended)

# 전체 데이터에 대한 재학습
현재까지 실험은 주어진 train 데이터를 다시 한번 train/validaton으로 나눠서 실험을 한것으로, 전체 train에 대해 학습되어 있지 않습니다. 
최적의 성능을 위해 전체 데이터에 학습을 시켜주도록 하겠다.

In [43]:
final_model = finalize_model(blended)

/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/suhyeon/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [44]:
predictions = predict_model(final_model, data=test)

In [45]:
predictions

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,age,hand,religion,orientation,voted,married,familysize,ASD,Label,Score
0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,5.0,...,20,1.0,4.0,4.0,1.0,1.0,3.0,2.0,0,0.8438
1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,...,40,1.0,1.0,5.0,2.0,1.0,5.0,2.0,1,0.8486
2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,...,20,1.0,4.0,5.0,2.0,1.0,3.0,2.0,1,0.8782
3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,...,30,1.0,2.0,2.0,2.0,1.0,3.0,2.0,1,0.6363
4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,20,1.0,4.0,5.0,2.0,1.0,2.0,2.0,1,0.9254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,3.0,...,20,3.0,10.0,4.0,2.0,1.0,3.0,2.0,1,0.8287
35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,...,20,3.0,2.0,5.0,2.0,1.0,2.0,2.0,1,0.7230
35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,40,1.0,1.0,5.0,1.0,1.0,2.0,2.0,1,0.9293
35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,...,20,1.0,12.0,1.0,2.0,1.0,NaN,2.0,0,0.8559
35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,5.0,...,20,2.0,NaN,2.0,2.0,1.0,1.0,2.0,1,0.6235

In [46]:
submission['nerdiness'] = predictions['Label']
submission.to_csv('submission_220805_3.csv', index=False)

In [47]:
submission

       index  nerdiness
0          0        0.0
1          1        1.0
2          2        1.0
3          3        1.0
4          4        1.0
...      ...        ...
35447  35447        1.0
35448  35448        1.0
35449  35449        1.0
35450  35450        0.0
35451  35451        1.0

[35452 rows x 2 columns]